[SddmGreeterTheme]
Name=PurPurDay-SDDM-5
Description=PurPurDay-SDDM-5 For Plasma 5
Author=l4k1
License=GPLv3
Type=sddm-theme
Version=1.0
Website=
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=l4k1987@gmail.com
Theme-Id=PurPurDay-SDDM-5
Theme-API=2.0
